    <div class="footer-container">
        
        <div class="row">
            <div class="col-lg-8">
                <h1>Knack <img src="/images/paint.png" alt=""></h1>
                <br>
                <h6><i>“Every artist dips his brush in his own soul, and paints his own nature into his pictures.” –Henry Ward Beecher</i></h6>
                <br>
                <h6><i>“Sometimes you gotta create what you want to be part of.” –Geri Weitzmans</i></h6>
            </div>
            <div class="col-lg-4">
                <a href="\events" class="footer-a"><h6>Events & Funds</h6></a>
                <br>
                <a href="\queries" class="footer-a"><h6>Queries Portal</h6></a>
                <br>
                
                <a href="\contact" class="footer-a"><h6>Contact </h6></a>
            </div>
        </div>

    </div>
        
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
        <script src="server.js"></script>
    </body>
</html>
