<%- include("partials/header"); -%>

<body class="about-body">

<%- include("partials/navbar"); -%>
<br><br><br>
<div class="about-container">

    <h1 style="font-family: 'Cinzel', serif; text-align: center;"><b>ABOUT  US</b></h1>
    <br><br>
    <h5>
        The  portal  is  a  social  platform  for  artisans  whereby  they  can  share  their  profile and skill set.
        Our goal is to connect artisans all around the world and help them in selling their art works in a smoothand secure manner.
        Our objective is to empower artisans by bringing them a visible platform to showcase their creativity.
    </h5>
    <br>
      
</div>
<br><br><br><br><br>
<%- include("partials/footer"); -%>