<%- include("partials/header"); -%>

<body class="cart-body">
    <%- include("partials/navbar"); -%>
    <div class="cart-container">
        <h2>Thankyou! </h2>
    <h4>Order Placed Successfully!
    </h4>
    </div>
    
<%- include("partials/footer"); -%>