<%- include("partials/header"); -%>

<body class="events-body">

    <%- include("partials/navbar"); -%>

    <div class="events-container">
        <ul >
            <li><a class="events-list" href="https://www.cravenherald.co.uk/news/19313900.town-reflection---art-exhibitions-return-skipton-gallery/">A town in reflection - art exhibitions return to Skipton gallery</a></li>
            <br><br>
            <li><a class="events-list" href="https://www.newindianexpress.com/business/2021/apr/25/covid-lockdown-a-blessing-in-disguise-for-art-market-2294356.html">Covid lockdown a blessing in disguise for art market</a></li>
            <br><br>
            <li><a class="events-list" href="https://www.thehindu.com/entertainment/art/a-village-turns-into-an-art-hub/article34552530.ece">A village turns into Art hub</a></li>
            <br><br>
            <li><a class="events-list" href="https://fadmagazine.com/2021/05/21/buy-renowned-photographers-prints-to-help-india-with-the-second-wave-of-covid-19/">Buy renowned photographers prints to help India with the second wave of covid-19</a></li>
            <br><br>
            <li><a class="events-list"  href="https://indiaeducationdiary.in/rice-university-worlds-largest-database-on-history-of-slave-trade-now-housed-at-rice/">Rice University: World’s Largest Database On History Of Slave Trade Now Housed At Rice</a></li>
            <br><br>
            <li><a  class="events-list" href="https://www.entrepreneur.com/article/372449">These Startups Are Preventing India's Rich Handicraft Culture From Fading Away</a></li>
            <br><br>
            <li><a  class="events-list" href="https://yourstory.com/2021/01/chitra-santhe-art-online-creativity/amp">Online art exhibitions in the pandemic era: creative insights from the Chitra Santhe 2021 artists</a></li>
        </ul>
    </div>

<%- include("partials/footer"); -%>