<%- include("partials/header"); -%>

<body class="login-body">
    <div class="login-container">
        <h1>Login</h1>
        <p>Please enter your Username and Password</p>
        <br>
        <form action="login" method="POST">

            <div>
                <input class="login-input" type="email" name="email" id="email" placeholder="Email" autocomplete="off"> 
            </div>
            <br>
            <div>
                <input class="login-input" type="password" name="password" id="password" placeholder="Password">
            </div>
            <br>
            <div>
            <input class="login-btn" type="submit" name="login" value="Login" placeholder="Login">
            </div>
            <br> <br><br>
            <a style="color: white;" href="registration.html">Don't have an account?</a>

        </form>
    </div>


<%- include("partials/footer"); -%>