<%- include("partials/header"); -%>

<body class="sell-after-page-body">

    <%- include("partials/navbar"); -%>

    <div class="sell-after-page-container">
        <h1 class="sell-after-page-h1"><b>Hurray!  Your product is up for selling.</b></h1>
        <br><br><br>
        <h3>Do you want to sell more ? &emsp14; <a href="/sell"><button type="button" class="btn btn-lg btn-outline-danger">SELL</button></a> </h3>
        <br><br>
        <h3>Start buying ! &emsp14; <a href="/buy"><button type="button" class="btn btn-lg btn-outline-danger">BUY</button></a> </h3>
    </div>

<%- include("partials/footer"); -%>